.header {
  padding: 80px; /* some padding */
  text-align: left;
  color: DarkGreen; /* white text color */
}

/* Increase the font size of the <h1> element */
.header h1 {
  font-size: 40px;
}
/* Style the top navigation bar */
.navbar {
  overflow: hidden; /* Hide overflow */
  background-color: #F8F8FF; 
}

/* Style the navigation bar links */
.navbar a {
  float: left; /* Make sure that the links stay side-by-side */
  display: block; /* Change the display to block, for responsive reasons (see below) */
  color: black; 
  text-align: center; /* Center the text */
  padding: 14px 20px; /* Add some padding */
  text-decoration: none; /* Remove underline */
}

/* Right-aligned link */
.navbar a.right {
  float: right; /* Float a link to the right */
}

/* Change color on hover/mouse-over */
.navbar a:hover {
  background-color: #ddd; /* Grey background color */
  color: black; /* Black text color */
}



#vertical_menu {
  margin: 70px 0px 10px -30px;
  padding: 0px 0px 20px;
  float: left;
  width: 290px;
  list-style-image: url(none);
  background-color: white;
}
#vertical_menu li {
  border-style: none;
  border-color: #ccccff;
  margin: 5px 5px 5px -20px;
  padding: 5px;
  -moz-border-radius-topleft: 20px;
  -moz-border-radius-topright: 20px;
  -moz-border-radius-bottomright: 20px;
  -moz-border-radius-bottomleft: 20px;
  float: left;
  width: 145px;
  font-family: Tunga;
  text-decoration: none;
  font-size: large;
  background-color: white;
}
#vertical_menu a {
  font-family: Tunga;
  text-decoration: none;
  color: #333399;
  font-size: large;
}
